/**********************************************************************
 * Busy indicator
 **********************************************************************/
#busybox {
}

#busybox div {
        width: 30px;
    height: 30px;
    position: absolute;
    left: 50%; 
    top: 50%;
    margin: -15px 0 0 -15px;
    font-size: 32px;
}
#busybox div i{
        font-size: 250%;
}

@keyframes busybox_kf {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
}

@-webkit-keyframes busybox_kf {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
}


