<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"
                           data-translate="user.labelInput.userName"></label>
                    <input type="text" data-ng-model="vm.objSearch.userName" name="userName"
                           placeholder="{{'user.placeholder.userName' | translate}}"
                           class="form-control" maxlength="200" tabindex="1" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"
                           data-translate="user.labelInput.fullName"></label>
                    <input type="text" data-ng-model="vm.objSearch.fullName" name="fullName"
                           placeholder="{{'user.placeholder.fullName' | translate}}"
                           class="form-control" maxlength="200" tabindex="2" />
                </div>
            </div>
        </div>
    </div>
</div>